@model IEnumerable<BookMVC.Models.BookViewModel>

@{
    ViewData["Title"] = "Allbooks";
}

<h1>Allbooks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookNo }) |
                @Html.ActionLink("Details", "Details", new {  id=item.BookNo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookNo })
            </td>
        </tr>
}
    </tbody>
</table>
